<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <connectionStrings>
        <add name="FNSB.PW.Finance.Import.Properties.Settings.PSQL_DB"
            connectionString="Data Source=psql01;Initial Catalog=publicworks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FNSB.PW.Finance.Import.Properties.Settings.TSQL_DB"
            connectionString="Data Source=tsql01;Initial Catalog=publicworks;Integrated Security=True" />
        <add name="FNSB.PW.Finance.Import.Properties.Settings.DSQL_DB"
            connectionString="Data Source=dsql01;Initial Catalog=publicworks;Integrated Security=True" />
        <add name="ApplicationDbContext" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=PubworksProjects;Integrated Security=SSPI;"
            providerName="System.Data.SqlClient" />
        <add name="Publicworks.Finance.OneSolution.Properties.Settings.PSQL_DB"
            connectionString="Data Source=psql01;Initial Catalog=publicworks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Publicworks.Finance.OneSolution.Properties.Settings.v13Pro"
            connectionString="Data Source=(localdb)\Projectsv13;Initial Catalog=PubworksProjects;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>