@model IEnumerable<Publicworks.Entities.Projects.ViewModels.Funds.KeyStatusViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GLKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneralLedgerDescription)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GLKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneralLedgerDescription)
        </td>
    </tr>
    <tr>
        @*@Html.Partial("ViewKeyBalancePartial", item)*@
    </tr>
}

</table>
