<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <connectionStrings>
        <add name="publicworksEntities" connectionString="metadata=res://*/Model.PublicworksTrackingModel.csdl|res://*/Model.PublicworksTrackingModel.ssdl|res://*/Model.PublicworksTrackingModel.msl;
         provider=System.Data.SqlClient;provider connection string='data source=psql01;initial catalog=publicworks;integrated security=True;Connection Timeout=60;
         multipleactiveresultsets=True'" providerName="System.Data.EntityClient"/>
    </connectionStrings>
</configuration>


<!--<add name="publicworksEntities" connectionString="metadata=res://*/Model.PublicworksTrackingModel.csdl|res://*/Model.PublicworksTrackingModel.ssdl|res://*/Model.PublicworksTrackingModel.msl;
         provider=System.Data.SqlClient;provider connection string='data source=localhost;
         initial catalog=publicworks;uid=pubworks_readonly;password=1FreshCat3;Connection Timeout=60;
         multipleactiveresultsets=True'"
     providerName="System.Data.EntityClient" />-->
